body{
    padding-left: 38%;
    padding-top: 20%;
}
.container {
    display: grid;
    grid-template-columns: 90px 90px 190px 100px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
}

.item{
    display: grid;
    background-color: rgb(122, 157, 253); 
    color: white;
    padding-left: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-titulo{
    display: grid;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    align-items: center;
}
.register{
    display: grid;
    background-color: rgb(122, 157, 253); 
    color: white;
    text-align: right;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    padding-right: 7px;
}

